{% extends "base.html" %} {% block title%} Products {% endblock %} {% block
content %}
<div class="outer__product__page">
  <div class="product__main__category" id="product__main__category">
    <h1 id="main__category">J's Prints Shop!</h1>
    {% if user.is_authenticated %}
    <a
      href="{{ url_for('routes.addProduct')}}"
      class="button"
      id="product__button"
      name="product__button"
    >
      Sell your own print!
    </a>
    {% else %}
    <a
      href="{{ url_for('authentication.login')}}"
      class="button"
      id="product__button"
      name="product__button"
    >
      Sell your own print!
    </a>
    {% endif %}
  </div>
  <div id="product__content">
    <div id="product__sidebar">
      <a
        href="{{ url_for('routes.products')}}"
        class="side__bar__links"
        id="side__link"
        >All</a
      >
      {% for prod in products %}
      <a
        href="{{ url_for('routes.products_by_category', category=prod.category)}}"
        class="side__bar__links"
        id="side__link"
        >{{ prod.category }}</a
      >
      {% endfor %}
    </div>
    <div class="product__showcase__main" id="products__showcase">
      {% if curr_category %}
      <div class="product__page__category">
        <h3 id="product_category">{{ curr_category }}</h3>
      </div>
      {% for prod in prod_by_category %}
      <a
        href="{{ url_for('routes.productDisplay', product_id=prod.product_id) }}"
        class="product__box"
      >
        <div class="product__name" id="product__name__div">
          <h1 id="product__name__title" class="product__name">
            {{ prod.product_name }}
          </h1>
        </div>
        <img
          class="product__img"
          src="{{ url_for('static', filename='UPLOAD_FOLDER/' + prod.filename)}}"
        />
      </a>
      {% endfor %}
    </div>
    {% else %}
    <div class="product__page__category">
      <h3 id="product_category">All Prints!</h3>
    </div>
    {% for prod in products %}
    <a
      href="{{ url_for('routes.productDisplay', product_id=prod.product_id) }}"
      class="product__box"
    >
      <div class="product__name" id="product__name__div">
        <h1 id="product__name__title" class="product__name">
          {{ prod.product_name }}
        </h1>
      </div>
      <img
        class="product__img"
        src="{{ url_for('static', filename='UPLOAD_FOLDER/' + prod.filename)}}"
      />
    </a>
    {% endfor %} {% endif %}
  </div>
</div>
{% endblock %}
